@import url("./style.css");

.my_details{
    margin: 100px;
    height: auto;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    position: relative;
    height: 25%;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row img{
    display: flex;
    width: 50%;
    height: 100%;
}

.row .text_container{
    display: flex;
    text-align: center;
}

.first_letter{
    text-decoration: black;
    text-decoration-style: solid;
    font-weight: bold;
    font-size: 40px;
}  